@model ApplicationUserVM
@{
    ViewData["Title"] = "User";
}
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Update User</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="ApplicationUser.Id" hidden />
            <div class="col-10">
                <div class="p-3">
                    @* <div asp-validation-summary="All"></div> *@
                    <div class="form-floating py-1 col-12">
                        <input asp-for="ApplicationUser.UserName" disabled class="form-control border shadow" />
                        <label asp-for="ApplicationUser.UserName" disabled class="ms-2 text-muted"></label>
                        <span asp-validation-for="ApplicationUser.UserName" disabled class="text-danger" />
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="ApplicationUser.Email" class="form-control border shadow" aria-required="true" />
                        <label asp-for="ApplicationUser.Email" class="ms-2 text-muted"></label>
                        <span asp-validation-for="ApplicationUser.Email" class="text-danger"/>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="ApplicationUser.Name" class="form-control border shadow" />
                        <label asp-for="ApplicationUser.Name" class="ms-2 text-muted"></label>
                        <span asp-validation-for="ApplicationUser.Name" class="text-danger" />
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="ApplicationUser.PhoneNumber" class="form-control border shadow" />
                        <label asp-for="ApplicationUser.PhoneNumber" class="ms-2 text-muted"></label>
                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger" />
                    </div>
                    <div class="form-floating py-1 col-12">
                        <select asp-for="Role" asp-items="@Model.RoleList" disabled class="form-select border shadow">
                            <option disabled selected>-Select Role-</option>
                        </select>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input asp-for="ApplicationUser.Image" class="form-control border shadow" />
                        <input asp-for="ApplicationUser.ImageUrl" hidden />
                        <label asp-for="ApplicationUser.ImageUrl" class="ms-2"></label>
                        <span asp-validation-for="ApplicationUser.ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input class="form-control border shadow" readonly value="@(Model?.ApplicationUser.CreatedBy + " - " + Model?.ApplicationUser.CreatedDate?.ToString("f"))" />
                        <label class="ms-2">Created</label>
                    </div>
                    <div class="form-floating py-1 col-12">
                        <input class="form-control border shadow" readonly value="@(Model?.ApplicationUser.ModifiedBy + " - " + Model?.ApplicationUser.ModifiedDate?.ToString("f"))" />
                        <label class="ms-2">Last Modified</label>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-success w-100">
                                <i class="bi bi-check-circle"></i> Update
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Account" asp-action="Index" class="btn btn-secondary w-100">
                                <i class="bi bi-x-circle"></i> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.ApplicationUser.ImageUrl" width="100%"
                     style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
            
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}