html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.summary-box {
  border-top: 2px solid #ccc;
  padding-top: 20px;
}
.summary-box h4 {
  font-weight: bold;
}
.discount, .voucher {
  color: green;
  font-weight: bold;
}
.grand-total {
  color: maroon;
  font-weight: bold;
  font-size: 1.5rem;
}
.payment-btn {
  width: 150px;
}
table input {
  width: 100%;
}